@tailwind base;
@tailwind components;
@tailwind utilities;
.clipm{
  clip-path:path('M 1,4 L 1376,4 L 1376,1057 C 913,872 220,951 1,1057 L 1,4 Z');
}

.clip {
 
  clip-path: polygon(84% 71%, 96% 65%, 96% 92%, 94% 93%, 93% 93%, 75% 71%);
  height: 320px;
  background-color: #fee3cd;
  z-index: 10;
  width: 450px;
}
.clip2 {
  
  clip-path: polygon(15% 72%, 1.8% 64%, 2% 93%, 5% 93%, 7% 90%, 18% 74%);
  height: 320px;
  background-color: #cde9fe;
  z-index: 10;
  width: 450px;
}